## config file for fakewake.py
##
## any values not found will use the internal defaults
##
## default values are prefixed with ; below

[target1]
name = Corellium1
reset_gpio = 13

[target2]
name = Corellium2
reset_gpio = 16

[target3]
name = Corellium3
reset_gpio = 18

[target4]
name = Corellium4
reset_gpio = 20

[target5]
name = Corellium5
reset_gpio = 22

[timings]
## button press durations (seconds)
## long must be greater than 4.0 for most PCs
;short:0.1
;long:5.0

## minimum interval between actions (seconds)
## must be greater than LONG_PRESS
##   and should be greater than the expected boot/shutdown time
##   of the target PC
## must also be less than any configured screen power off/sleep
##   time on the target PC as some OS use the power button as a
# wake trigger from this state(PC on but screens off)
;min_interval:180.0


[webserver]
## webserver
;web_enabled:True

## uncomment to bind webserver to a specific interface
## default is to bind to all available interfaces
#host:localhost

## to use a port number < 1024 fakewake must be started as root
;web_port:8080

## time between automatic page reloads in seconds
## should be longer than "long" above
;reload_delay:15


[pinger]
## setting will be treated as False if no targets are specified
;pinger_enabled:True
## target name or ip address. multiple targets must be seperated by ,
##   e.g. foo,bar,10.0.0.1
#target: 127.0.0.1,localhost

## interval between pings(seconds)
;interval:1.0


[threads]
## specify whether to restart any failed threads
## threads using ports < 1024 will not restart once root privialges
##   have been dropped
restart:True


[security]
## host ip based security measure
## comma seperated list of ipv4 addresses
##
## functions in a similar manner to the system files
## hosts.allow and hosts.deny:
##   Access will be granted when a client's ip address matches an entry in hosts_allow.
##   Otherwise, access will be denied when a client's ip address matches an entry in hosts_allow.
##   Otherwise, access will be granted.
##
## default is to allow all ip addresses and deny none
## use * for hosts_deny to block all addresses except those in hosts_allow
## example 1: allow access from any ip address
;hosts_allow=''
;hosts_deny=''
### example 2: block all clients except those on localhost
#hosts_allow=127.0.0.1
#hosts_deny=*

# privileges management
# whether to drop root privilages
;drop_privs=True
# user to drop to when started as root after ports have been bound.
;user=nobody
